.header-time-span {
  font-size: 0.8em;
  display: grid;
  grid-template-columns: 4em 4em 4em 4em;
  column-gap: 1em;
  color: $gray-200;
  justify-content: center;
  border-bottom: 1px solid $gray-700;
  div {
    display: inline-block;
    padding: 0.9em 0 0.4em;
    &.current {
      color: $gray-000;
      font-weight: bold;
      border-bottom: 2px solid $pink-200;
    }
  }
}
.header-date-picker {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.5em 0;
  .title {
    font-size: 1.2em;
    font-weight: bold;
    margin: 0 2em;
    color: $gray-000;
  }
  .sub-title {
    font-size: 0.8em;
    margin-top: 0.3em;
    color: $gray-200;
  }
  .navigator {
    vertical-align: middle;
    font-size: 1.2em;
    line-height: 0.8em;
    color: $gray-300;
    &:hover {
      color: $white;
    }
    // border: 1px solid white;
    padding: 0.3em;
    // background: $gray-100;
  }
}
